<div
    style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9;">
    <h2 style="color: #333; text-align: center;">{{verification_type}}</h2>
    <p style="color: #555; font-size: 16px;">Dear {{user_fullname}},</p>
    <p style="color: #555; font-size: 16px;">Here is your <a style="color: #01558f; text-decoration: none;" href="https://daryandev.com" target="_blank">Easy-Email</a> {{verification_type}} code:</p>
    <div style="text-align: center; margin: 20px 0;">
        <span
            style="display: inline-block; padding: 15px 30px; background-color: #01558f; color: #ffffff; font-size: 24px; letter-spacing: 2px; border-radius: 5px;">{{verification_code}}</span>
        <p style="color: #555; font-size: 10px;">This code will expire after 10 minutes.</p>
    </div>
    <p style="color: #555; font-size: 16px;">If you did not request this, please ignore this email.</p>

    <p style="color: #555; font-size: 16px;">Best Regards,<br>Easy-Email</p>
    <hr style="border: none; border-top: 1px solid #ddd; margin: 20px 0;">
    <p style="color: #999; font-size: 12px; text-align: center;">This is an automated message, please do not reply.</p>
</div>